/*Media Query Celular -MOBILE FIRST-*/
body{/*ASÃ NOS MOSTRO FRAN EN EL COLEARNING PARA BAJAR EL FOOTER SIEMPRE */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/*Empizan Estilos del Footer*/
footer{
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.nav-footer{
  display: none;
}
footer>section{
  background-color: rgba(59, 58, 58, 0.88);
  padding: 10px 0px 10px 0px;
}
footer>section:nth-child(2){
  background-color: rgba(59, 58, 58, 0.98);
  padding: 10px 0px 10px 0px;
}
footer>section>article>p{
  color: white;
  margin: 0;
  text-align: center;
  font-size: 0.8em;
}
footer>section>article>h3{
  text-align: center;
  color: white;
  font-size: 1em;
}
footer>section>article>ul{
  padding-top: 5px;
  display: flex;
  justify-content: center;
  }
.footer-redes>ul>li{
  padding: 0px 3px 0px 3px;
  list-style: none;
}
.footer-redes>ul>li>a{
  color: white;
  display: flex;   
  align-items: center;
}
.footer-redes>ul>li>a>img{
  width: 15px;
}
/*Terminan Estilos del Footer*/

/*Empizan Estilos del FAQ*/
.faq>h1{
  padding-top: 10px;
  text-align: center;
}
.faq>section>article{
  padding: 15px;
}
.faq>section>article>h3{
  text-align: center;
}
.faq>section:nth-child(odd){
  background-color: #52515117;
}
/*Terminan Estilos del FAQ*/

/*Media Query Ipad's*/
@media (min-width:760px){
  .faq>section>article>p{
    max-width: 85vw;
  }
  .faq>section>article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*Media Query Desktop's*/
@media (min-width:1025px){
  /*Empizan Estilos del Footer*/
  footer>section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  footer>section>article>p{
    font-size: 1em;
  }
  .nav-footer{
    display: inline;
  }
  .nav-footer>ul>li{
    list-style: none;
  }
  .nav-footer>ul>li>a{
    color: white;
    text-decoration: none;
    padding: 5px;
  }
  footer>section>article:nth-child(1)>ul{
    flex-direction: column;
  }
  .footer-redes>ul>li>a>img{
  width: 25px;
  }
  /*Terminan Estilos del Footer*/
  /*Empizan Estilos del FAQ*/
  .faq>section>article>p{
    width: 65vw;
  }
  .faq>section>article{
    padding: 25px 0;
  }
  .faq>section>
  /*Terminan Estilos del FAQ*/
}